*{
    box-sizing: border-box;
}
body{
    text-align: center;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 135, 251);
}
/* HomeComponent */
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.home-bt{
    color: white;
    background-color: #0ab306;
    border: #0ab306;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 50px;
}
.home-bt:hover{
    background-color: #028800;
}
/* QuizComponent */
.quiz{
    padding: 5% 0px 5% 0px;
    background-color: rgb(202, 202, 202);
    color: black;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px white;
}
.span-num{
    margin-right: 1000px;
    font-size: 20px;
}
.question{
    font-size: 30px;
    font-weight: bold;
}
.options{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    height: 40%;
}
.option{
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 500px;
    border-radius: 20px;
    background-color: #1ea1f1;
    color:white;
    text-align: center;
}
.btn-move{
    border-radius: 15px;
    width: 100px;
    border: none;
    color: white;
}
/* ResultComponent */
.result{
    padding: 20px;
    width: 600px;
    height: 450px;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(226, 226, 226);
    color: black;
    box-shadow: 0px 0px 10px 0px black;

}
.btn{
    display: flex;
    justify-content: space-between;
}
.again-btn{
    background-color: rgb(2, 149, 157);
    color: white;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}
.again-btn:hover{
    background-color: rgb(66, 193, 200);
}
.back-btn{
    background-color: rgb(3, 148, 15);
    color: white;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}
.back-btn:hover{
    background-color: rgb(45, 207, 58);
}
.score-col{
    color: blue;
}